@import "src/shared/styles/scss/shared";

.tasker {

  &-header {
    @include flex(space-between);
    background: $primary-color;
    width: 100%;
  }

  &-field {
    color: #fff;
    box-sizing: border-box;
    font-size: 1.25em;
    padding: 14px;
    flex-grow: 2;
    border: none;
    outline: none;
    background: transparent;
    font: 18px/1.25em Helvetica, Arial, Sans-serif;
  }

  &-button {
    color: #fff;
    box-sizing: border-box;
    font-size: 1.25em;
    padding: 14px;
    background: $secondary-color;
    border-left: 1px solid #1eddb8;
    transition: all 0.2s ease;

    &:hover {
      background: #20e7c1;
    }
  }
}


