.container {
  width: 70%;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.container .row {
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 .75rem;
  min-height: 1px;
}